<app-loader style="text-align: center;" *ngIf="usersIsLoading"></app-loader>
<section class="github-users">
    <div class="users" *ngFor="let gitHubUser of gitHubUsers.items | paginate: { itemsPerPage: 10, currentPage: p }" (click) = "navigateToProfile(gitHubUser)">
        <div class="user-picture">
            <img [src]="gitHubUser.avatar_url">
        </div>
        <div class="user-info">
            <a class="username"> {{gitHubUser.login}} </a>
        </div>
    </div>
</section>
<pagination-controls style="margin-bottom: 50px;" (pageChange)="p = $event"></pagination-controls>
