header{
    text-align: center;
    .logo{
        width: 100px;
        height: 100px;
    }
}
.search{
    align-items: center;
    text-align: center;
    input{
        width: 300px;
        line-height: 25px;
        border: none;
        border: 1px solid;
        border-radius: 5px;
        outline: 0;
        font-size: 20px;
        padding: 10px;
    }
}
